.token_range {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.rangeWrapper{
    width: 100%;
    color: #fff;
    text-align: center;
}

.rangeWrapper span{
    font-size: 10px;
    font-weight:600; 
}
.range{
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
    margin: 0 5px; 
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}

.inodo {
    padding:10px 45px;
}
.inodo h5{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.inodo p{
    font-size: 14px;
    width: 90%;
    color: #d6d6d6 !important;
}
.sideEp{
    padding: 20px;
    text-align: center;
    background: #b300ff;
    margin: 10px 0;
    border-radius: 10px;
}

.sideEp h4{
    font-weight: 800;
    color: #fff;
    font-size: 18px;
    margin: 0;
}

.sideEp p{
    color: #f5f5f5;
    font-size: 32px;    
    font-weight: 800;

}

.bg2srb{    
    background: #17a97b;
}

.borb-bottom{
    border-bottom: 1px solid #3e3e3e;
}