p.stfx_discription.mt-4 {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.left_stfs h3 {
  color: white;
  transform: rotate(270deg);
  letter-spacing: 2px;
  font-size: 25px;
  position: absolute;
  left: -2px;
  top: -47px;
}
.left_stfs {
  position: relative;
}
.proj_card {
  margin-bottom: 4rem;
}

.proj_card h4 {
  color: white;
  font-size: 17px;
}
.proj_card h2 {
  font-size: 45px !important;
  background: -webkit-linear-gradient(#eee, #590874);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900 !important;
}
.graph-discription p {
  max-width: 700px;
  margin: auto;
  text-align: center;
}
.graph_list ul li {
  color: white;
  background-image: linear-gradient(to right, #000159, #205db3);
  padding: 12px;
  font-size: 15px;
  border-radius: 7px;
  margin: 0;
}
.graph_list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 0;
  margin: 0;
}
.graph-discription {
  border-top: 1px solid #414141;
  padding-top: 17px;
}

.asdf {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

@media (max-width: 768px) {
  .left_stfs h3 {
    color: white;
    transform: rotate(0deg);
    letter-spacing: 2px;
    font-size: 30px;
    position: static;
    margin-bottom: 3rem;
  }
  .proj_card {
    margin-bottom: 2rem;
  }

  .proj_card h4 {
    color: white;
    font-size: 12px;
  }
  .proj_card h2 {
    font-size: 25px !important;
  }
  .proj_card {
    margin-bottom: 2rem;
  }
  .graph_list ul li {
    font-size: 12px;
  }
  .graph-discription p {
    font-size: 14px;
    margin-bottom: 2rem;
  }
}
