.log_innd {
  display: flex;
  align-items: center;
  gap: 20px;
}
header.main_header {
    position: absolute;
    width: 100%;
    padding: 15px 0;
}
a.nav-link {
    color: white !important;
}
a.logg_in {
    color: white !important;
}
.hny_dividers {
    height: 24px;
    width: 1px;
    background-color: hsl(0deg 0% 100% / 36%);
    margin: 0 12px;
}