/* RoadmapComponent.css */
.milestones {
    display: flex;
    flex-direction: column; 
    margin-top: 30px;
}

.milestone {
    display: flex;
    align-items: flex-start;
    height: 130px;
}

.date {
    padding-right: 45px;
    font-weight: 500;
    color: #e600ff;
    font-size: 11px;
    width: 360px;
    text-align: end;
}


.marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bff;
    /* Change color as needed */
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.marker:after {
    content: "";
    position: absolute;
    width: 5px;
    background: #fff;
    z-index: -1;
    display: block;
    height: 60px;
    left: 7px;
    top: 2px;
}

.description {
    flex-grow: 1;
}

.milestone.completed .marker {
    background-color: #28a745;
    /* Change color for completed milestones */
}

.milestone h3 {
    margin-top: 0;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}

.roadmap {
    margin: 50px auto;
    max-width: 800px;
}

.roadmap h2 {
    text-align: center;
}
.date {
    position: relative;
}
.round_sr {
    background-image: linear-gradient(to right, #643daa, #e85790) !important;
    width: 20px;
    height: 20px;
  
}
.bott_line_sr {
    width: 2px;
    height: auto;
    display: block;
    background-color: #e4e5e84d;
    right: 9px;
    height: 100px;
}


.description h3 {
    font-size: 16px;
}
.rigt_dis {
    padding-left: 2rem;
    max-width: 400px;
}
.hny_creative{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
}