/* Sections */

.section-head {
    position: relative;

}

.section-head h2{
    font-weight: 600 !important;
    padding: 0;
    margin: 0 0 20px;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: -1.08px;
    text-transform: uppercase;
    color: #fff;
}

.section-head:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 60px;
    height: 3px;
    background: linear-gradient(to right, #67d9c0, #2d2fa0);
}
.SrbHeroSection{
    background-image: url('../public/Home/top-bg_01.jpg') !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover;
}