/* Sections */
.top-hero-head {
    width: 50% !important;
}

.section-head {
    position: relative;

}

.section-head h2 {
    font-weight: 600 !important;
    padding: 0;
    margin: 0 0 20px;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -1.08px;
    text-transform: uppercase;
    color: #fff;
}

.section-head:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 60px;
    height: 3px;
    background: linear-gradient(to right, #67d9c0, #2d2fa0);
}

.SrbHeroSection {
    background-image: url('../public/Home/top-bg_01.jpg') !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.text-part p {
    font-size: 14px;
    color: #d9d9d9;
}

.hero-utils {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.youTubbtn {
    padding-left: 15px;
    cursor: pointer;
}

.youTubbtn img {
    width: 50px;
}

.youTubbtn span {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 5px;
}

.hny_common_btn.light {
    background-color: #fff;
}

@media(max-width:768px) {
    .top-hero-head {
        width: 100% !important;
    }

    .hero-utils {
        display: block;
    }

    .youTubbtn {
        margin-top: 20px;
    }

    .SrbHeroSection {
        background-image: url('../public/Home/top-bg_01_mob.jpg') !important;
        height: auto;
        justify-content: space-between;
        padding: 150px 0;
        background-position: right !important;
    }
    .btm-hero-part{
        position: unset !important; 
        width: 95% !important;
    }
 
}   