.footer {
    padding: 80px 30px 20px 30px;
    background-color: #100736;
    border-top: 5px solid #1e124f;
}

.footer h3 {
    position: relative;
    color: #fff;
    margin: 0 0 22px;
    font-size: 20px !important;
    font-weight: 400;
    padding-bottom: 35px;
    padding-top: 0;
    opacity: .5;
}

.footer ul {
    padding: 0;
    list-style: none;
}
.footer ul li {
    padding: 0;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 18px !important;
    list-style: none;
}
.gallery-foot img {
    width: 81px;
}
.para-foot {
    text-align: justify;
}

.form-foot input {
    font-size: 13px;
    line-height: 18px;
    color: #222;
    background: 0 0;
    box-shadow: none;
    outline: none;
    padding: 16px 30px 15px;
    border-radius: 0;
    transition: all .3s ease;
    box-sizing: border-box !important;
    width: 100%;
    display: block;
    height: 49px;
    border: 1px solid #777;
    border-radius: 4px !important;
    width: 100%;
    padding: 13px 50px 13px 15px;
    height: 44px;
    border-color: #fff !important;
}
.form-foot input::placeholder {
    color: #fff;
    opacity: 0.5;
    font-size: 15px;
}
.form-foot span {
width: 44px;
height: 44px;
background: #f15a91;
color: #f15a91;
text-align: center;
border: none;
font-size: 17px;
outline: none !important;
transition: all .3s ease;
}
.footer-logo {
    position: relative;
    margin: 0 0 37px;
    padding: 0;
}
.form-foot span i {
    color: white;
}